<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="/css/course_map.css" />
<div id="map-component" class="w-100 card shadow-sm map-card" style="min-height: 70vh; max-height: 100vh">
	<div class="map-header-bar">Campus Map</div>
	<div class="map-day-tabs" id="map-day-tabs"></div>
	<div id="campus-map"></div>
</div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="/js/course_map.js"></script>
