<div class="m-5">
	<div class="bg-gradient bg-light-subtle">
		<input type="text" placeholder="Search" class="form-control" />
		<div class="input-group">
			<span class="input-group-text">Subject</span>
			<div class="dropdown">
				<button id="subject-btn" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Subject</button>
				<ul class="dropdown-menu">
					<% Object.keys(search_filters).forEach(key => { %>
					<li><button type="button" class="dropdown-item" data-subject="<%= key %>"><%= search_filters[key].long_title %></button></li>
					<% }) %>
				</ul>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-text">Course Number</span>
			<div class="dropdown">
				<button id="course-num-btn" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>Select Course</button>
				<ul id="course-num-menu" class="dropdown-menu"></ul>
			</div>
		</div>
	</div>
	<%- include('../partials/course_list', { courses: typeof courses !== 'undefined' ? courses : {} }) %>
</div>

<script>
	$(function () {
		const search_filters = <%- JSON.stringify(search_filters) %>;

		$('.dropdown-item[data-subject]').on('click', function () {
			const key = $(this).data('subject');
			$('#subject-btn').text($(this).text());

			const courses = search_filters[key].course_numbers;
			const $menu = $('#course-num-menu');
			$menu.empty();
			courses.forEach(num => {
				$menu.append(`<li><button type="button" class="dropdown-item" data-course="${num}">${key} ${num}</button></li>`);
			});
			$('#course-num-btn').prop('disabled', false).text('Select Course');
		});

		$('#course-num-menu').on('click', '.dropdown-item', function () {
			$('#course-num-btn').text($(this).text());
		});
	});
</script>
