<div class="m-5">
	<h1><b><%= course.Subject %> <%= course.CatalogNbr %> </b> - <span id="course-long-title"><%= course.LongTitle %></span></h1>
	<div class="p-3 border rounded-2">
		<h2 class="h5">Class Details</h2>
	</div>
	<div class="p-3 border rounded-2">
		<h2 class="h5">Meeting Info</h2>
		<table class="table table-striped table-hover">
			<thead class="table-dark">
				<tr>
					<td>Days & Times</td>
					<td>Building</td>
					<td>Room</td>
					<td>Map</td>
					<td>Instructor</td>
					<td>Meeting Dates</td>
				</tr>
			</thead>
			<tr>
				<td>MoWe 2:20PM - 3:35PM</td>
				<td>Southwest Forest</td>
				<td>018</td>
				<td></td>
				<td>TBA</td>
				<td>08/24/2026 - 12/11/2026</td>
			</tr>
		</table>
	</div>
	<div class="p-3 border rounded-2">
		<h2 class="h5">Enrollment Info</h2>
		<p>Prerequisite(s)<span>✅</span>: CS 249 or CYB 136</p>
		<p>Corequisite(s)<span>✅</span>: CS 249 or CYB 136</p>
	</div>
	<div class="p-3 border rounded-2">
		<h2 class="h5">Class Availability</h2>
	</div>
	<div class="p-3 border rounded-2">
		<h2 class="h5">Description</h2>
		<p>
			Introduces web programming while emphasizing the creation of interactive and dynamic websites. Topics include HTML, CSS, JavaScript, and client-server website programming. Letter grade
			only.
		</p>
	</div>
	<script>
		const course_long_title = $('#course-long-title').text() ?? '';
		console.log(uppercase_to_pascal_case(course_long_title));
		$('#course-long-title').text(uppercase_to_pascal_case(course_long_title));
	</script>
</div>
