<div class="m-5">
	<div id="notification-list" class="gap-3">
		<p id="notifications-status" class="text-muted">Loading Notifications...</p>
	</div>
</div>
<script src="/js/notifications.js"></script>
